@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --purple-gradient: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
    --dark-purple: #150e28;
    --bright-purple: #903AFF;
    --purple: #D434FE;
}

body{
    background-color: var(--dark-purple);
    font-family: 'Montserrat', sans-serif;
    /* background-color: white; */
}

.purple-gradient{
    background: var(--purple-gradient)
}
.purple-gradient:hover{
    background: linear-gradient(270deg, #FE34B9 0%, #903AFF 100%);
}
