@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --purple-gradient: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
    --dark-purple: #150e28;
    --bright-purple: #903AFF;
    --purple: #D434FE;
}

body{
    background-color: var(--dark-purple);
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    /* background-color: white; */
}

